body {

  --webkit-font-smoothing: antialiased;
  background-color: #e9ecef;
  min-height: 100vh;
}

@media (min-width: 768px) {

  .dora-image {
    border-color: 2px red solid;
    align-items: center;
    width: 80%;
    margin: 10px auto;
  }
}